/*.tool-bar {
  opacity: 0;
  animation: tool-bar 1s 2s;
  animation-fill-mode: forwards;
  position: relative;
  z-index: 4;
}

@keyframes tool-bar {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.home-banner {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 3;
  background-color: #000;
}*/


/*#banner-animation {
  height: auto;
  opacity: 0;
  transition: opacity 0.8s, transform 0.8s;
  transform-origin: left top;
}*/


/*@keyframes first-banner {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.logo-bar,
.menu {
  position: relative;
  z-index: 4;
  opacity: 0;
  background-color: #fff;
  animation: logo-bar 1s 3s;
  animation-fill-mode: forwards;
}

@keyframes logo-bar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu {
  background-color: #41C4F4;
}
*/


/*.home-news {
  background-color: #fff;
  opacity: 0;
  animation: home-news 1s .8s;
  animation-fill-mode: forwards;
}

@keyframes home-news {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}*/

.home-courses {
  animation: home-courses 0.8s;
  animation-fill-mode: forwards;
}

@keyframes home-courses {
  
}


