/*
* 编写代码简则
*/


/*
* Common
*
* 本项目常用工具，但不包括 .clearon-left, .clear ，
* 它们已经包含在 UI tool 模块里面，请注意
*/

* {
  transition: color 0.1s 0.1s;
}

body {
  font-size: 14px;
  font-family: "微软雅黑", "PingHei", "Lucida Grande", "Lucida Sans Unicode", "Helvetica", "Arial", "Verdana", "sans-serif";
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/icons.png) no-repeat 0 0;
  vertical-align: middle;
}

.icon-love {
  background-position: -96px 0;
}

.icon-eye {
  background-position: -80px 0;
}

.icon-share {
  background-position: -64px 0;
}

.cfff {
  color: #fff;
}

.center-1280 {
  width: 1280px;
  margin: 0 auto;
}

.title-modify {
  font-size: 26px;
  color: #464646;
  text-align: center;
}

.title-modify i {
  display: block;
  width: 150px;
  height: 20px;
  background: url(../images/sprites.png) no-repeat 0 0;
  margin: 8px auto 0 auto;
}

.title-modify-white {
  color: #fff;
}

.title-modify-white i {
  background-position: 0 -20px;
}

.modify-triangle {
  width: 55px;
  height: 27px;
  margin: 0 auto 60px auto;
  background: url(../images/sprites.png) no-repeat 0 -40px;
}

.modify-background-circular {
  background: url(../images/modify-background-circular.png) no-repeat;
  width: 730px;
  height: 470px;
  left: 0px;
  top: 0px;
  z-index: 0;
  position: absolute;
  animation: modify-background-circular 120s linear infinite;
  animation-direction: alternate;
}

@keyframes modify-background-circular {
  0% {
    left: 0;
    top: 0;
    transform: rotate(0deg);
  }
  50% {
    left: 500px;
    top: 120px;
    transform: rotate(30deg);
  }
  100% {
    left: 180px;
    top: 40px;
    transform: rotate(0deg);
  }
}

.card {
  width: 308px;
  height: 335px;
  background-color: #fff;
  transition: transform 0.3s 0.2s;
}

.card:hover {
  transform: scale(1.06);
  position: relative z-index: 1;
}

.card:hover .card-img {}

.card-img {
  width: 308px;
  height: 184px;
}

.card-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #404040;
  font-size: 16px;
  display: block;
  padding: 20px 25px 0 25px;
}

.card-user {
  padding: 20px 25px 0 25px;
}

.card-user-head {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
}

.card-user-info {
  line-height: 22px;
}

.card-social {
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  border-top: 1px solid #E7E7E7;
}

.card-social .icon,
.card-social .text {
  vertical-align: middle;
}

.card-social .icon {
  margin-right: 5px;
}

.card-social .text {
  width: 55px;
  display: inline-block;
}


/*
* Header
*
* 公共头部样式，所有公共头部样式写在此处
* 如遇到某些页面头部变化，通过加 class 的方式，单独添加样式
* 也写在此处
*/

.header {}

.tool-bar {
  background-color: #293440;
  color: #9e9e9e;
  line-height: 40px;
}

.logo-bar {
  height: 90px;
}

.logo-bar .logo {
  margin-top: 24px;
}

.menu {
  background-color: #41c5f4;
}

.menu li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 45px;
}

.menu a {
  display: block;
  padding: 0 25px;
  line-height: 60px;
  color: #fff;
  font-size: 16px;
  font-weight: bolder;
}

.menu a.now {
  background-color: #28b3e5;
}

.menu a:hover {
  color: #c8f1ff;
}


/*
* Home News
*
* 首页新闻板块，左右接口，左边是 Banner，右边是新闻列表
*/

.home-news {
  padding-top: 70px;
  padding-bottom: 70px;
}


/*新闻 Banner*/


/*新闻列表*/

.home-news-list {}

.home-news-list ul {}

.home-news-list ul li {
  border-bottom: 1px dotted #909CA6;
  padding: 20px 0;
}

.home-news-list ul li:last-child {
  border-bottom: none;
}

.margin-top-larger {
  margin-top: 60px !important;
}


/*
* 课程推荐
*
*/

.home-courses {
  background-color: #72D0F6;
  height: 780px;
  position: relative;
}

.home-courses:after {
  content: '';
  display: block;
  border-top: 120px solid #fff;
  border-right: 120px solid transparent;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.home-courses:before {
  content: '';
  display: block;
  border-bottom: 120px solid #fff;
  border-left: 120px solid transparent;
  position: absolute;
  z-index: 0;
  right: 0;
  bottom: 0;
}

.home-courses .center-1280 {
  position: relative;
  z-index: 1;
}


/*
* 教师培训
*
*/

.home-teacher {
  padding-bottom: 75px;
}

.home-teacher-content {
  width: 334px;
  padding: 35px;
  border: 1px solid #eee \9;
  box-shadow: 0 30px 30px #eee;
}

.home-teacher-content h3 {
  font-size: 20px;
  color: #464646;
  text-align: center;
}

.home-teacher-content h3 i {
  display: block;
  width: 84px;
  height: 76px;
  background: url(../images/sprites.png) no-repeat -340px 0;
  margin: 0 auto 25px auto;
}

.home-teacher-content ul {
  padding-top: 55px;
}

.home-teacher-content ul li {
  padding-bottom: 30px;
}

.home-teacher-content ul li .text-large {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 233px;
  display: block;
}

.home-teacher .home-teacher-training {}

.home-teacher .home-teacher-resoure {
  margin: 0 auto;
}

.home-teacher .home-teacher-resoure h3 i {
  background-position: -250px 0
}

.home-teacher .home-teacher-live {
  float: right;
}

.home-teacher .home-teacher-live h3 i {
  background-position: -160px 0;
}


/*
* 创客作品
*
*/

.home-create {
  background-color: #F1F1F1;
}

.home-create-tabs {
  overflow: hidden;
  font-size: 16px;
  margin-top: 45px;
}

.home-create-tabs li {
  float: left;
  margin-right: 40px
}

.home-create-tabs li a {
  color: #464646
}

.home-create-tabs li a:hover,
.home-create-tabs li a.now {
  color: #6CCDFF;
}

.home-create .card-img {
  height: 170px;
}

.home-create .card-user {
  overflow: hidden;
  padding-bottom: 18px;
}

.home-create .card-user li {
  width: 120px;
  float: left;
}

.home-create .card-user li.he {
  width: 1px;
  height: 28px;
  background-color: #DFE2E5;
  margin: 8px 17px 0 0px;
}

.home-create .card-user-head {
  width: 42px;
  height: 42px;
}


/*
* 导师推荐
*
*/

.home-tutor {width: 512px;}

.home-tutor-list {
  overflow: hidden;
  margin-top: 63px;
  margin-left: -58px;
}

.home-tutor-list li {
  float: left;
  text-align: center;
  margin-bottom: 56px;
  margin-left: 58px;
}

.home-tutor-list li img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  transition: border-radius 0.3s;
}

.home-tutor-list li img:hover {
  border-radius: 2%;
}


/*
* 比赛动态
*
*/

.home-match {width: 596px;float: right;}

.home-match-list {
  padding: 3px 25px;
  width: 540px;
  margin: 0 auto;
  box-shadow: 0px 0px 20px #EEE;
  border: 1px solid transparent;
  border-color: #eee /9;
}

.home-match-list li {
  overflow: hidden;
  border-top: 1px solid #E0E0E0;
  padding: 20px 0;
}
.home-match-list li:first-child{
  border-top: none;
}

.home-match-list li p {
  height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 2px 0 12px 0;
}
.home-match-list li div{height: 28px;line-height: 28px;}

.home-match-list li img {}


/*
* 创客论坛 and 创客论坛
*
*/
.home-forum,
.home-test {
  height: 280px;
  margin-top: 90px;
}
.home-forum-block,
.home-test-block {
  margin-top: 60px
}
.home-forum-midify,
.home-test-midify {
  margin-right: 50px;
  float: left;
  background-image: url(../images/sprites.png);
  background-repeat: no-repeat;
}
.home-forum-block h2,
.home-test-block h2{
  font-size: 40px;
  color:#fff;
  padding: 40px 0 10px 40px;
}
.home-forum-block h2 a,
.home-test-block h2 a{
  color:#fff;
}
.home-forum-block h2 a:hover,
.home-test-block h2 a:hover{
}
.home-forum-block span,
.home-test-block span{
  font-size: 13px;
  color:#fff;
}
.home-forum {
  background-color: #6BCDFF;
}
.home-test {
  background-color: #55DDF2;
}
.home-forum-block{
  float: right;
  width: 640px;
}
.home-test-block{
  float: left;
  width: 640px;
  margin-left: 70px;
}
.home-forum-midify {
  
  width: 249px;
  height: 141px;
  background-position: 0 -80px;
}
.home-test-midify {
  width: 220px;
  height: 150px;
  background-position: -260px -80px;
}

/*
* 友情链接
*
*/
.friendship-link {
  background-color: #F1F1F1;
  overflow: hidden;
  padding: 43px 0;
}
.friendship-link ul li {
  float: left;
  margin-left: 20px;
}
.friendship-link ul li:first-child{
  margin-left: 0px;
}
.friendship-link li a{
  display: block;
  width: 196px;
  height: 65px;
  background-color: #fff;
  border-radius: 6px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.friendship-link li a img{
  max-width: 176px;
  max-height: 45px;
  transition: transform .3s;
}
.friendship-link li a:hover img{
  transform: scale(1.15);
}


/*
* Footer
*
* 公共页脚样式，所有公共页脚样式写在此处
* 如遇到某些页面页脚变化，通过加 class 的方式，单独添加样式
* 也写在此处
*/

.footer {
  height: 260px;
  background-color: #28343F;
}
.footer .column{
  height: 220px;
}
.footer .tool-bar {
  background-color: #141E29;
  font-size: 16px;
}
.footer-card {
  float: right;
  margin-top: 66px;
}
.footer-card h2 {
  font-size: 26px;
  color: #FFF;
  font-weight: bolder;
  float: left;
  text-align: center;
  padding-right: 25px;
}
.footer-card h2 strong {
  font-size: 48px;
  color: #F4CE36;
  display: block;
}
.footer-card ul {
  color: #C7C7C7;
  padding-left: 25px;
  float: left;
  border-left: 1px solid #BDE1F4;
}
.footer-card ul li{
  padding:6px 0;
}
.footer-newmedia{
  color: #fff;
  margin-top: 66px;
  margin-left: 155px;
}
.footer-newmedia .footer-wechat {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 25px;
}
.footer-newmedia h2{
  font-size: 22px;
  font-weight: bolder;
  padding-top: 5px;
}
.footer-newmedia h2 span{
  padding-top: 6px;
  font-size: 16px;
  display: block;
  line-height: 26px;
}

/*首页大图轮播展示*/
.fullSlide{width:100%;position:relative;height:380px;background:#000;}
.fullSlide .bd{margin:0 auto;position:relative;z-index:0;overflow:hidden;}
.fullSlide .bd ul{width:100% !important;}
.fullSlide .bd li{width:100% !important;height:380px;overflow:hidden;text-align:center;}
.fullSlide .bd li a{display:block;height:380px;}
.fullSlide .bd li a img{display:none;}
.fullSlide .bd li a img.on{display: block;transition: transform 0.3s; transform: scale(2);}
.fullSlide .hd{width:100%;position:absolute;z-index:1;bottom:0;left:0;height:30px;line-height:30px;}
.fullSlide .hd ul{text-align:center;}
.fullSlide .hd ul li{cursor:pointer;display:inline-block;*display:inline;zoom:1;width:42px;height:11px;margin:1px;overflow:hidden;background:#000;filter:alpha(opacity=50);opacity:0.5;line-height:999px;}
.fullSlide .hd ul .on{background:#f00;}
.arrow-box{
  width:1024px;
  height:46px;
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-512px;
  margin-top:-23px;
}
.fullSlide .prev,.fullSlide .next{display:block;position:absolute;z-index:1;top:50%;left:20%;margin-top:-30px;z-index:1;width:40px;height:60px;background:url(../../images/web/slider-arrow.png) -126px -137px #000 no-repeat;cursor:pointer;filter:alpha(opacity=50);opacity:0.5;display:none;}
.fullSlide .next{left:auto;right:20%;background-position:-6px -137px;}