input {
  margin: 0;
  outline: none;
  vertical-align: middle;
  padding: 0 10px;
  width: 278px;
  line-height: 1;
  height: 43px;
  border:2px solid var(--grey);
  color: var(--text); 
}
input.button{width: auto;}

input[type=text]:focus, input[type=password]:focus {
  outline: none;
}

input[disabled]:hover {
  cursor: not-allowed;
}

input[type=text]:hover, input[type=password]:hover {
  border-color: var(--theme-light);
}

input[type=text]:focus, input[type=password]:active {
  border-color: var(--theme-dark);
}

input[disabled] {
  background-color: var(--grey-light);
  border: 2px solid var(--grey);
  color: var(--grey-dark);
}

input[disabled]:hover,input[disabled]:focus {
  border-color: var(--grey);
  cursor: not-allowed;
}