/*基础*/
input[type=text], input[type=password], input[type=search], textarea {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  -webkit-appearance: none;
  /*去除input默认样式*/
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }

input[type=text]:focus, input[type=password]:focus {
  outline: none; }

input[disabled]:hover {
  cursor: not-allowed; }

/*UI input*/
input[type=text], input[type=password] {
  padding: 0 10px;
  width: 278px;
  line-height: 43px;
  height: 43px;
  border:2px solid var(--grey);
  color: var(--text); 
}
input[type=text]:hover, input[type=password]:hover {
  border-color: var(--theme-hover);
}

input[type=text]:focus, input[type=password]:active {
  border-color: var(--theme-active);
}

@each $theme in (success, warning, error, dark, grey){
  input.$theme{
    border-color: var(--$(theme));
  }
  input.$theme:hover{
    border-color: var(--$(theme)-hover);
  }
  input.$theme:active,input.$theme:focus{
    border-color: var(--$(theme)-active);
  }
}

input[disabled] {
  background-color: var(--grey-light);
  border: 2px solid var(--grey);
  color: var(--grey-dark);
}

input[disabled]:hover,input[disabled]:focus {
  border-color: var(--grey);
  cursor: not-allowed;
}

input.larger {
}
input.large {
} 
input.small {
  line-height: 32px;
  height: 32px;
}