// $aaa = (puma, black, default),(sea-slug, blue, pointer),(egret, white, move);
// @each $animal, $color, $cursor in  $a{
//   .#{$animal}-icon {
//     background-image: url('/images/#{$animal}.png');
//     border: 2px solid $color;
//     cursor: $cursor;
//   }
// }

$width: (puma, black, default),(sea-slug, blue, pointer),(egret, white, move);;
@each $animal, $color, $cursor in  $width{
  .#{$animal}-icon {
    background-image: url('/images/#{$animal}.png');
    border: 2px solid $color;
    cursor: $cursor;
  }
}