:root{ 
  --green: #43cb83;
  --light-green: #69e0a1;
  --dark-green: #2da867;

  --blue: #50bae2;
  --light-blue: #71cff3;
  --dark-blue: #3a9ec3;

  --orange: #f9b954;
  --light-orange: #fdcc7e;
  --dark-orange: #e7a133;
  
  --red: #f57846;
  --light-red: #fb9267;
  --dark-red: #db6334;

  --dark: #3f3f4d;
  --dark-light: #515163;
  --dark-dark: #30303c;

  --grey: #dde2ef;
  --grey-light: #f4f5f9;
  --grey-dark: #c0c7da;

  --text: #576077;
  --link: #4da9f5;
}

:root{ 
  --theme: #43cb83;
  --theme-hover: #69e0a1;
  --theme-active: #2da867;

  --success: #50bae2;
  --success-hover: #71cff3;
  --success-active: #3a9ec3;

  --warning: #f9b954;
  --warning-hover: #fdcc7e;
  --warning-active: #e7a133;
  
  --error: #f57846;
  --error-hover: #fb9267;
  --error-active: #db6334;

  --dark: #3f3f4d;
  --dark-hover: #515163;
  --dark-active: #30303c;

  --grey: #dde2ef;
  --grey-hover: #ebf0fd;
  --grey-active: #c0c7da;

  --text: #576077;
  --link: #4da9f5;

  --disabled:#dde2ef;
}

:root{
  --radius: 4px;
}
