.page {
  height: 45px;
  line-height: 43px;
}
.page a {
  border: 2px solid var(--grey);
  color: var(--text);
  border-left-width:0px;
  min-width: 24px;
  padding:0 10px;
  text-align: center;
  text-decoration: none;
  float: left;
}
.page a:first-child {
  margin-left: 0;
  border-left-width: 2px;
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}
.page a:last-child {
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
.page a.now,.page a:hover {
  background-color: var(--grey);
}
.page a.disabled {
  color: #999999;
}
