@charset "UTF-8";

@import 'theme/theme.css';
@import 'reset/reset.css';

@import 'tool/tool.css';
@import 'margin/margin.css';
@import 'column/column.css';

@import 'text/text.css';

@import 'link/link.css';
@import 'button/button.css';
@import 'input/input.css';
@import 'table/table.css';
@import 'tab/tab.css';
@import 'notice/notice.css';
@import 'page/page.css';
@import 'popup/popup.css';
@import 'progress/progress.css';
@import 'form/form.css';
@import 'textarea/textarea.css';
@import 'step/step.css';

@import 'checkboxradio/checkboxradio.css';

/*插件*/
/*@import 'banner/banner.css';*/


/*demo 上线后要删除*/
@import 'demo/demo.css'