@charset "UTF-8";
.namespace-setting {
  font-family: "antialiased", "Raleway","Helvetica Neue","Helvetica","Arial",sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
}

.namespace-setting *:active, .namespace-setting*:focus {
  outline: none;
}

.namespace-setting input, .namespace-setting textarea, .namespace-setting .button {
  /*去除ios webkit默认样式*/
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.namespace-setting .input {
  margin: 0;
  outline: none;
  vertical-align: middle;
  padding: 0 10px;
  width: 60px;
  line-height: 1;
  height: 25px;
  border: 1px solid transparent;
  color: #838d9d;
  font-size: 12px;
  background-color: #272b31;
}

.namespace-setting .input:focus,
.namespace-setting .input:active {
  color: #fff;
  background-color: #191c20;
  border-color: #434A54;
}

.namespace-setting form fieldset {
  border: none;
  padding: 0 0 5px 0;
  margin: 0;
}

.namespace-setting form fieldset label {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  width: 30%;
  text-align: right;
  margin-right: 0px;
  vertical-align: top;
  position: relative;
}

.namespace-setting form fieldset .input {
  width: 58%;
  padding: 0 2%;
}

.namespace-setting table {
  margin: 10px;
}

.namespace-setting table th {
  color: #adb3be;
  padding: 4px 2px 4px 2px;
  font-weight: 600;
  font-size: 11px;
  color: #586170;
  text-align: left;
}

.namespace-setting table td {
  padding: 4px 2px 4px 2px;
}

.namespace-setting {
  background-color: #22252b;
  padding-bottom: 10px;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 308px;
}

.namespace-setting .module-title {
  font-size: 18px;
  font-weight: bolder;
  text-transform: capitalize;
  font-variant: small-caps;
  color: #838d9d;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 4px 10px;
}

.namespace-setting form td .input {
  width: 90%;
  padding: 0 5%;
  border: none;
}

label {
  font-size: 10px;
  color: #586170;
  line-height: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

label.anchor {
  color: #adb3be;
  background-color: #1d2025;
  display: block;
  font-weight: 600;
  line-height: 20px;
  font-size: 12px;
  padding: 5px 10px;
  margin: 10px 0;
}

.namespace-setting-width {
  position: absolute;
  left: 0;
  top: 0;
  width: 8px;
  left: -4px;
  background-color: transparent;
  height: 100%;
}

.namespace-setting-width:hover {
  cursor: col-resize;
}
