.fh-focus {position:relative; width:560px; overflow:hidden;}
.fh-focus, .focus-pic li{ height:300px; position:relative; overflow:hidden;}
.fh-foc-tmp { height:230px; }
.focus-pic { height:230px; }
.focus-pic li { float:left; height:230px; width:560px; }
.focus-pic li img { width:560px; height:230px;}
.focus-pic .bg{height:30px; width:100%; position:absolute; left:0; bottom:0; background:#000; opacity:0.6; filter: Alpha(opacity=60); z-index:1; }
.focus-pic .txt { height:25px; position:absolute; width:100%; line-height:25px; text-indent:10px; overflow: hidden; z-index: 2; left: 0; bottom: 0; color: #FFF; }
.fh-focus .fhtaber-tabs {height:53px; background:#565656; }
.fh-focus .fhtaber-tabs li {float:left; padding:2px; margin-right:-3px; position:relative; cursor:pointer; z-index:3; }
.fh-focus .fhtaber-tabs img {width:85px; height:53px; }
.fh-focus .fhtaber-tabs .current{background:#2ba4d7; }
.fh-focus .fhtaber-tabs .current i {width:7px; height:4px; position:absolute; left:50%; margin-left:-3px; top: -4px; overflow: hidden; background-position: -46px -28px; }
.fh-focus .btn-prev, .fh-focus .btn-next{ background: url(img/foc_btn.png) no-repeat; _background:url(img/foc_btn_8.png) no-repeat; width: 31px; height: 50px; position: absolute; z-index: 4; top:105px; _filter: Alpha(opacity=70); }
.fh-focus .btn-prev{background-position: 0 0; left:45px; }
.fh-focus .btn-next{background-position: -33px 0; right:10px; }

