textarea {
  border: 2px solid var(--grey);
  padding: 10px;
  width: 468px;
  min-height: 88px;
  overflow: auto;
}

textarea:hover {
  border-color: var(--theme-hover);
}
textarea:focus,textarea:active{
  border-color: var(--theme-active);
}
@each $theme in (success, warning, error, dark, grey){
  textarea.$theme{
    border-color: var(--$(theme));
  }
  textarea.$theme:hover{
    border-color: var(--$(theme)-hover);
  }
  textarea.$theme:active,textarea.$theme:focus{
    border-color: var(--$(theme)-active);
  }
}

textarea[disabled] {
  background-color: var(--grey-light);
  border: 2px solid var(--grey);
  color: var(--grey-dark);
}

textarea[disabled]:hover,textarea[disabled]:focus {
  cursor: not-allowed;
}

/*兼容*/
.ie textarea{
  height: 88px;
}