/*
* Base Botton Style
*
* The default values for the .botton class
*/
#{$btn-namespace}{
  display: inline-block;
  cursor: pointer;
  border: none;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-size: $btn-font-size;

  /*button colors*/
  color: $btn-color;
  background-color: $btn-background-color;

  /*button shapes*/
  min-width: $btn-min-width;
  padding: $btn-padding;
  height: $btn-height;
  line-height: $btn-height;
  border-radius: $btn-border-radius;

  &:hover{
    background-color: lighten($btn-background-color, 10%);
  }
  
  &:active{
    background-color: desaturate($btn-background-color, 10%);
  }

  /**
  * Disabled State
  *
  * The disabled state used the class .disabled,
  * or the form attaribute distabled="distabled".
  */
  &.disabled, &.disabled:hover{
    background-color:$disabled !important;
    border-color: $disabled  !important;
    cursor: not-allowed;
  }


}
@include btn-colors{
  & {
    background-color: $btn-background-color;
  }
  &:hover {
    background-color: lighten($btn-background-color, 10%);
  }
  &:active {
    background-color: desaturate($btn-background-color, 10%);
  }
}

