.button{
  /*去除ios webkit默认样式*/
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  
  display: inline-block;
  *display: inline;
  *zoom: 1;
  cursor: pointer;
  border: 0;
  text-align: center;
  text-decoration: none;

  min-width: 70px;
  padding:0 10px;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  color: #fff;
  border-radius: var(--radius);

  background-color: var(--theme);
  /*border:1px solid var(--theme-active);*/
}
.button:hover{
  background-color: var(--theme-hover);
}
.button:active{
  background-color: var(--theme-active);
}

.button.radius{
  border-radius: 20px;
}

@each $theme in (success, warning, error ,dark, grey){
  .button.$theme{
    background-color: var(--$(theme));
    /*border-color: var(--$(theme)-active);*/
  }
  .button.$theme:hover{
    background-color: var(--$(theme)-hover);
  }
  .button.$theme:active{
    background-color: var(--$(theme)-active);
  }
}

.button.disabled{
  background-color:var(--disabled);
  border-color: var(--disabled);
}
.button.disabled:hover{
  cursor:not-allowed;
}


/*尺寸*/
/*smallest smaller small default large larger largest*/
/* 大小*/
.button.smaller{
  min-width: 28px;
  padding:0 4px;
  height: 20px;
  line-height: 20px;
}
.button.small{
  min-width: 55px;
  padding:0 5px;
  height: 22px;
  line-height: 22px;
}
.button.large{
  min-width: 88px;
  padding:0 10px;
  height: 38px;
  line-height: 38px;
}
.button.larger{
  min-width: 268px;
  padding:0 10px;
  height: 38px;
  line-height: 38px;
  letter-spacing:0.5em;
}
