.notice{
	padding: 20px;
	color: #fff;
	background-color: var(--theme);
}
.notice h1{
	font-size: 16px;
	font-weight: bolder;
	margin:0 0 10px 0;
}
.notice.success{
	background-color: var(--success);
}
.notice.warning{
	background-color: var(--warning);
}
.notice.error{
	background-color: var(--error);
}
