.label{
  display: inline-block;
  color: #fff;
  background-color: var(--theme);
  padding:5px 10px;
  border-radius: var(--radius);
}

.label.radius{
  border-radius: 20px;
}

@each $theme in (success, warning, error ,dark, grey){
  .label.$theme{
    background-color: var(--$(theme));
  }
}

.label-group .label{margin-right: 5px;}
.label-group .label:last-child{margin-right: 0;}