table {
  width: 100%;
  color: var(--text);
  font-size: 14px;
}

table {
  border:2px solid var(--grey-light);
}
table tr th:first-child{
  border-top-left-radius: var(--radius);
}
table th, table td {
  text-align: center;
  padding: 15px;
}
table tr th:last-child{
  border-top-right-radius: var(--radius);
}
table th {
  color: var(--dark-light);
  background-color: var(--grey-light);
}
table td {
  border:2px solid var(--grey-light);
}

table.dark{
  border:none;
}
table.dark th{
  background-color: var(--dark);
  color: var(--grey-dark);
}
table.dark td {
  border:none;
}
table.dark tbody tr:nth-child(even){
  background-color: var(--grey-light);
}

table.noborder th,table.noborder td{
	border: 0
}