@each $theme in (blue, green, orange, grey){
  input.$theme{
    border-color: var(--$(theme));
  }
  input.$theme:hover{
    border-color: var(--$(theme)-light);
  }
  input.$theme:active, input.$theme:focus{
    border-color: var(--$(theme)-dark);
  }
}
