/*
* 编写代码简则
*/


/*
* Common
*
* 本项目常用工具，但不包括 .clearon-left, .clear ，
* 它们已经包含在 UI tool 模块里面，请注意
*/
body{
  font-size: 14px;
  font-family: "微软雅黑","PingHei","Lucida Grande", "Lucida Sans Unicode", "Helvetica","Arial","Verdana","sans-serif";
}
.center{
  width: 1280px;
  margin:0 auto;
}


/*
* Header
*
* 公共头部样式，所有公共头部样式写在此处
* 如遇到某些页面头部变化，通过加 class 的方式，单独添加样式
* 也写在此处
*/

.header{
  
}
.tool-bar{
  background-color: #293440;
  color: #9e9e9e;
  line-height: 40px;
}
.logo-bar{
  height: 90px;
}
.logo-bar .logo{
  margin-top: 24px;
}
.menu {
  background-color: #41c5f4;
}
.menu li{display: inline-block;margin-right:45px;}
.menu a{
  display:block;
  padding:0 25px;
  line-height: 60px;
  color: #fff;
  font-size: 16px;
  font-weight: bolder;
}
.menu a.now,
.menu a:hover{
  background-color: #28b3e5;
}
/*
* Footer
*
* 公共页脚样式，所有公共页脚样式写在此处
* 如遇到某些页面页脚变化，通过加 class 的方式，单独添加样式
* 也写在此处
*/
.footer{

}